Header set Content-Security-Policy "default-src 'self'"
Header set Content-Security-Policy "img-src 'self' ava.rmarchiv.tk"

Header set X-Content-Security-Policy "default-src 'self'"
Header set X-Content-Security-Policy "img-src 'self' ava.rmarchiv.tk"

Header set X-Webkit-CSP "default-src 'self'"
Header set X-Webkit-CSP "img-src 'self' ava.rmarchiv.tk"

Header set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload" env=HTTPS
Header always append X-Frame-Options SAMEORIGIN
Header set Referrer-Policy: strict-origin-when-cross-origin

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} ^(.+)$
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
