@import "variables";

.editormd {
  border-color: $panel-default-heading-bg;
  border-radius: 4px;
}

.editormd-toolbar {
  background: $panel-default-heading-bg;
  border-bottom: 1px solid $panel-default-heading-bg;
}

.editormd-menu li a {
  color: $btn-primary-color;
  background-color: $btn-primary-bg;
  border-color: $btn-primary-border;
  -webkit-transition: none;
  transition: none;
}

.editormd-menu li a:focus {
  color: $btn-primary-color;
  background-color: #826200;
  border-color: #785b00;
  -webkit-transition: none;
  transition: none;
}

.editormd-menu li a:hover {
  color: $btn-primary-color;
  background-color: #826200;
  border-color: #785b00;
  -webkit-transition: none;
  transition: none;
}

.editormd .CodeMirror {
  border-right: rgba(0,0,0, 0.15);
  background-color: #A9BDBD;
  color: #073642;
}

.CodeMirror-linunumber {
  color: #839496;

}

.CodeMirror-gutters {
  background-color: $panel-default-heading-bg !important;
  border-right: 1px solid $panel-default-heading-bg !important;
}

.editormd-container-mask {
  background-color: $panel-default-heading-bg;
}