@import "types";
@import "autocomplete";
@import "fineuploader";
@import "../../../bower_components/editor.md/scss/editormd";

$page_with_max: 920px;
$page_with_min: 56%;

//colors
$color_background: #00001a;
$color_text: #ffffe0;
$color_link: #ffbf00;
$color_link_hover: #ffdf00;
$color_san_juan_approx: #2d4f74;
$color_border: #17395c;
$color_anakiwa_approx: #9fcfff;
$color_flesh_approx: #ffcf9f;
$color_white: white;
$color_kashmir_blue_approx: #4e6f90;
$black: #000000;
$color_bismark_approx: #446688;
$color_bay_of_many_approx: #224488;
$color_my_sin_approx: #ffaf1f;
$color_sunset_orange_approx: #ff4f4f;
$color_celeste_approx: #cccccc;
$color_bermuda_gray_approx: #6688aa;
$color_santas_gray_approx: #9999aa;
$color_rhino_approx: #224466;
$color_polo_blue_approx: #88aacc;
$color_fog_approx: #e8d1ff;
$color_victoria_approx: #5c5288;
$color_kimberly_approx: #7a76a8;
$color_prelude_approx: #d0bbe4;
$color_affair_approx: #775599;
$color_east_side_approx: #aa88cc;
$color_san_marino_approx: #3a6ea5;
$yellow: yellow;
$color_geraldine_approx: #ff8888;
$color_burnt_umber_approx: #883022;
$color_tosca_approx: #884446;
$color_matrix_approx: #aa5555;
$color_forest_green_approx: #228830;
$color_hippie_green_approx: #468844;
$color_mint_green_approx: #88ff88;
$color_claret_approx: #882230;
$color_bittersweet_approx: #f66;

//fonts
$font_0: Tahoma;
$font_1: Verdana;
$font_2: Arial;
$font_3: Helvetica;
$font_4: sans-serif;

//urls
$url_submit: url(/assets/submit.gif);
$url_preview: url(/assets/preview.png);
$url_white_box: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQMAAACTPww9AAAAA1BMVEX8/vwlkMVqAAAACklEQVR4XmOAAgAACAABnWENdQAAAABJRU5ErkJggg==);
$url_talk: url(/assets/talk.gif);
$url_search: url(/assets/search.gif);
$url_5: url(/assets/poundsoff.gif);
$url_6: url(/assets/twitter.png);
$url_7: url(/assets/wanted.png);
$url_8: url(/assets/stats.gif);
$url_9: url(/assets/cdc.png);
$url_10: url(/assets/dpnet.gif);
$url_11: url(/assets/bitfellas.gif);
$url_12: url(/assets/types.png);
$url_13: url(/assets/online.png);
$url_14: url(/assets/bar.png);
$url_15: url(/assets/flecheg.png);
$url_16: url(/assets/fleched.png);
$url_17: url(/assets/trumpet.png);
$rate_up: url(/assets/rate_up.gif);
$rate_down: url(/assets/rate_down.gif);
$rate_neut: url(/assets/rate_neut.gif);
$url_21: url(/assets/coupdecoeur.gif);
$url_22: url(/assets/previewdxm.gif);
$url_23: url(/assets/sort_up.png);
$url_24: url(/assets/sort_up_active.png);
$url_25: url(/assets/sort_down.png);
$url_26: url(/assets/sort_down_active.png);
$url_27: url(/assets/autocomplete.png);
$url_28: url(/assets/avatar-example.png);
$url_29: url(/assets/watchlist-on.png);
$url_30: url(/assets/watchlist-off.png);
$url_31: url(/assets/icon_youtube.png);
$url_32: url(/assets/icon_rmarchiv.png);
$url_33: url(/assets/icon_demozoo.png);
$url_lang_16_de: url(/assets/lng/16/de.png);

//original selectors
//#rmarchivbox_latestparties ul, #rmarchivbox_upcomingparties ul
%extend_9 {
  border-spacing: 1px;
  display: table;
  width: 100%;
  margin-top: -1px;
  margin-bottom: -1px;
}

//original selectors
//#successOverlay, #errorOverlay
%extend_10 {
  border: 1px solid $black;
  font-size: 120%;
  font-weight: bold;
  left: 50%;
  margin-left: -150px;
  padding: 10px;
  position: fixed;
  text-align: center;
  top: 200px;
  width: 300px;
}

//original selectors
//#rmarchivbox_boardmain #boardname, #rmarchivbox_listsmain #listsname
%extend_11 {
  background: $color_bay_of_many_approx;
  color: $color_white;
  padding: 3px;
  border: 0;
  margin: 1px;
  text-align: center;
  font-weight: bold;
}

#submitPreview {
  @extend %extend_3;
}


#rmarchivbox_upcomingparties {
  text-transform: lowercase;
  h2 {
    padding-left: 22px;
    padding-bottom: 2px;
    background: $color_san_juan_approx $url_10 top left no-repeat;
    background-position: 2px 2px;
  }
  ul {
    @extend %extend_9;
  }
  li {
    display: table-row;
    > * {
      display: table-cell;
      padding: 2px;
    }
  }
  .timeleft {
    text-align: right;
  }
}

#rmarchivbox_onelinerview {
  width: 75%;
  time {
    color: $color_celeste_approx;
  }
  li {
    overflow: hidden;
    &.day {
      background: $color_bay_of_many_approx;
      font-weight: bold;
    }
    a {
      &.youtube {
        background: $url_31 top left no-repeat;
        padding-left: 18px;
      }
      &.rmarchiv {
        background: $url_32 top left no-repeat;
        padding-left: 18px;
      }
      &.demozoo {
        background: $url_33 top left no-repeat;
        padding-left: 18px;
      }
    }
  }
}

#rmarchivbox_prodsneakycdcs {
  width: 100%;
}

#rmarchivbox_affilbutton {
  .content {
    text-align: center;
  }
  img {
    border: 0;
  }
}


.vote {
  float: left;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  overflow: hidden;
  line-height: 100px;
  margin-right: 3px;
  &.up {
    background: $rate_up top left no-repeat;
  }
  &.down {
    background: $rate_down top left no-repeat;
  }
  &.neut {
    background: $rate_neut top left no-repeat;
  }
  &.cdc {
    background: $url_21 top left no-repeat;
  }
}
#rmarchivbox_groupmain {
  big {
    font-size: 18px;
    font-weight: bold;
  }
  #adminlinks {
    float: right;
  }
  #title {
    float: left;
  }
  .foot {
    font-weight: normal;
    background: $color_bay_of_many_approx;
    text-align: right;
  }
  #otherlinks {
    float: right;
    margin-top: 4px;
  }
  .cenmid {
    text-align: center;
    vertical-align: middle;
  }
  #links {
    text-align: right;
    vertical-align: bottom;
  }
  #screenshot {
    text-align: center;
    vertical-align: middle;
    width: 400px;
    height: 300px;
  }
  th#groupname {
    text-align: center;
  }
  #stattable td {
    border: 0;
    text-align: left;
    padding: 1px;
  }
  td.affil {
    padding: 5px;
    li {
      display: inline-block;
      margin-right: 10px;
    }
    > ul:before {
      content: "BBS Affiliations:";
      font-weight: bold;
    }
  }
}

#rmarchiv_bb_editor {
  list-style-type: none;
  display: inline;
  margin-left: 1.25em;
  padding: 0 3px;
  > li {
    display: inline;
    position: relative;
    padding: 0 3px;
    &:last-child:hover ul {
      display: block;
    }
  }
  li {
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
  }
  ul {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    padding-bottom: .5em;
    background: $color_bismark_approx;
    border: 1px solid $black;
    border-bottom: none;
    li {
      list-style-type: none;
      padding: 0 1em;
      white-space: nowrap;
    }
  }
}

#rmarchivbox_prodlist{
  width: 56%;
}

#rmarchivbox_grouplist {
  ul {
    list-style: none;
  }
  td {
    vertical-align: top;
    &.groupname {
      font-weight: bold;
    }
  }
}

#rmarchivbox_modalmessage {
  width: 400px;
  .content h3 {
    margin: 15px;
  }
}

#rmarchivbox_partyheader {
  display: table;
  width: auto;
  > * {
    background: $color_bay_of_many_approx;
    text-align: center;
    padding: 2px;
  }
  .content {
    font-weight: bold;
  }
  .yearselect {
    margin: 1px;
  }
  .foot {
    font-weight: normal;
    text-align: right;
  }
  .submitadditional {
    font-size: 90%;
  }
}
#rmarchivbox_searchmain {
  display: table;
  width: auto;
  input {
    vertical-align: middle;
  }
}
#rmarchivbox_account {
  display: table;
  width: auto;
  #avatarPickerPalette {
    position: absolute;
    width: 200px;
    background: $color_bismark_approx;
    border: 1px solid $black;
    padding: 3px;
  }
  #avatarPickerClose {
    float: right;
  }
  #paletteAvatars {
    margin-top: 3px;
    > img {
      margin: 0 2px;
      cursor: pointer;
    }
  }
  #customizer .formifier .row {
    > label {
      width: 250px;
    }
    > input {
      width: 50px;
    }
  }
}

#rmarchivbox_latestparties {
  text-transform: lowercase;
  ul {
    @extend %extend_9;
  }
  li {
    display: table-row;
    > * {
      display: table-cell;
      padding: 2px;
    }
  }
  .releasecount {
    text-align: right;
  }
}

#rmarchivbox_mirrors {
  width: 50%;
  ul {
    margin-left: 20px;
  }
}

#rmarchivbox_avatargallery {
  width: 610px;
}
#avatargallery {
  list-style: none;
  li {
    display: inline-block;
    margin: 10px;
  }
}
#rmarchivbox_submitavatar {
  width: 610px;
  .content {
    padding: 10px;
    background: $color_bismark_approx $url_28 top 30px right 30px no-repeat;
  }
}
#successOverlay {
  @extend %extend_10;
  background: $color_forest_green_approx;
}
#errorOverlay {
  @extend %extend_10;
  background: $color_claret_approx;
}
#rmarchivbox_sceneorgawards {
  h2 {
    text-align: center;
  }
  th {
    &.year {
      font-size: 130%;
    }
    &.category {
      text-transform: lowercase;
    }
  }
  td > * {
    vertical-align: middle;
  }
}
#rmarchivbox_meteorikawards {
  h2 {
    text-align: center;
  }
  th {
    &.year {
      font-size: 130%;
    }
    &.category {
      text-transform: lowercase;
    }
  }
  td > * {
    vertical-align: middle;
  }
}
#rmarchivbox_buttons {
  width: 50%;
  h2 {
    clear: both;
  }
  img {
    border: 0;
  }
  li {
    margin: 3px;
    float: left;
    width: 88px;
    height: 31px;
    overflow: hidden;
  }
  .content:after {
    clear: both;
    content: " ";
    display: block;
  }
}

#demoblog {
  .blogprod {
    background: $color_bay_of_many_approx;
  }
  .blogcomment {
    background: $color_bismark_approx;
  }
  .blogvote {
    background: $color_kashmir_blue_approx;
    text-align: right;
    height: 16px;
  }
}
#rmarchivbox_boardmain {
  width: 500px;
  #boardname {
    @extend %extend_11;
  }
  #body {
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
    margin-top: -1px;
    margin-bottom: -1px;
    > div {
      vertical-align: top;
      display: table-cell;
      background: $color_bismark_approx;
      width: 50%;
    }
  }
  .foot {
    font-weight: normal;
  }
  ul {
    list-style: none;
  }
  td {
    vertical-align: top;
    padding: 3px;
  }
}
#rmarchivbox_listsmain {
  #listsname {
    @extend %extend_11;
  }
  .boxlisttable {
    margin-bottom: -1px;
  }
  .foot {
    margin-top: 1px;
    font-weight: normal;
  }
}

#testbanner {
  background: none repeat scroll 0 0 $color_matrix_approx;
  border: 2px solid $black;
  color: $color_white;
  font-weight: bold;
  height: 60px;
  opacity: 0.8;
  padding: 10px;
  position: fixed;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 60px;
  z-index: 10;
}
#watchlistFrm {
  display: inline;
  input[type='submit'] {
    background: $url_29 top left no-repeat;
    width: 16px;
    height: 16px;
    overflow: hidden;
    text-indent: -90px;
    border: 0;
    cursor: hand;
    cursor: pointer;
    color: transparent;
    &.add {
      background: $url_30;
    }
    &.remove {
      background: $url_29;
    }
  }
}
#rmarchivbox_adminreq {
  .platformiconlist {
    float: none;
  }
  a {
    &.youtube {
      background: $url_31 top left no-repeat;
      padding-left: 18px;
    }
    &.rmarchiv {
      background: $url_32 top left no-repeat;
      padding-left: 18px;
    }
    &.demozoo {
      background: $url_33 top left no-repeat;
      padding-left: 18px;
    }
  }
}
#rmarchivbox_fixmewarning {
  width: 400px;
  h2 {
    padding-left: 22px;
    padding-bottom: 2px;
    background: $color_burnt_umber_approx $url_31 top left no-repeat;
    background-position: 2px 2px;
  }
}
#rmarchivbox_admineditfaq {
  #question {
    width: 600px;
  }
  #answer {
    width: 600px;
  }
}

#rmarchivbox_customizer {
  .column {
    min-width: 340px;
    vertical-align: top;
    .placeholder {
      outline: $color_bermuda_gray_approx dashed 3px;
      outline-offset: -3px;
      height: 32px;
      margin-bottom: 5px;
      min-width: 250px;
    }
  }
  &.js .column {
    min-width: 300px;
  }
  .formifier .row > label {
    width: 170px;
  }
  .content.addnew {
    text-align: center;
    padding: 10px;
    background: $color_kashmir_blue_approx;
  }
}
#rmarchivbox_customizersitewide {
  input[type='number'] {
    width: 50px;
  }
  label {
    width: 240px;
  }
}

#partytable tr {
  &:nth-child(odd) td {
    background: $color_border;
  }
  &:nth-child(even) td {
    background: $color_san_juan_approx;
  }
}

#rmarchivbox_feedpoundsoff h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: $color_kashmir_blue_approx $url_5 top left no-repeat;
  background-position: 2px 2px;
}
#rmarchivbox_feedrmarchivtwitter h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: $color_kashmir_blue_approx $url_6 top left no-repeat;
  background-position: 2px 2px;
}
#rmarchivbox_feedwanted h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: $color_kashmir_blue_approx $url_7 top left no-repeat;
  background-position: 2px 2px;
}
#rmarchivbox_cdc h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: $color_kashmir_blue_approx $url_9 top left no-repeat;
  background-position: 2px 2px;
}
#rmarchivbox_prodnfo.asciiviewer {
  display: table;
  max-width: 900px;
}
#rmarchivbox_partylist td.partyname {
  font-weight: bold;
}

#rmarchivbox_partyview td.prod {
  font-weight: normal;
  * {
    font-weight: normal;
  }
  .group {
    display: inline;
  }
}

#rmarchivbox_searchbbs .searchhighlight {
  background: $yellow;
  color: $black;
}
.autocompleteSelection span {
  font-weight: bold;
}
#row_platform select[multiple] {
  height: 150px;
}
#row_type select[multiple] {
  height: 150px;
}
#row_csdbID input {
  width: 100px;
}
#row_sceneOrgID input {
  width: 100px;
}
#row_slengpungID input {
  width: 100px;
}
#row_zxdemoID input {
  width: 100px;
}
#row_demozooID input {
  width: 100px;
}
#avatarlist > * {
  vertical-align: middle;
}
#rmarchivbox_boardlist .boardname {
  font-weight: bold;
}
.logovote .content {
  background: $color_san_juan_approx $url_17;
}
#rmarchivbox_toplist .selector {
  padding: 4px;
  background: $color_bay_of_many_approx;
  margin: 1px;
}
#avgstats li {
  display: inline;
}
#credits ul {
  list-style: none;
  text-align: left;
  padding: 2px;
  li {
    display: inline-block;
    margin: 2px 8px;
  }
}

#rmarchivbox_admin ul {
  list-style: none;
}


select#language option[value="de"] {background-image:$url_lang_16_de;}