.inlinebox_game {
  width: 520px;
  .game_screen {
    border-right: #00001a solid 1px;
    width: 160px;
    float: left;
    img{
      width: 160px;
    }
  }
  .game_info {
    border: #00001a solid 1px;
    float: left;
    width: 360px;
    .game_title {

    }
    .game_dev {

    }
    .game_desc {
      overflow: hidden;
    }
  }
}