.inlinebox_game {
  border: #00001a solid 1px;
  width: 512px;
  height: 125px;
  display: block;
  .game_screen {
    border-right: #00001a solid 1px;
    float: left;
    height: 125px;
    img{
      width: 160px;
    }
  }
  .game_info {
    border: #00001a solid 1px;
    .game_title {

    }
    .game_dev {

    }
    .game_desc {
      overflow: hidden;
    }
  }
}