.rmarchivbox_newsbox {
  h3 {
    padding: 3px;
    border: 0;
    margin: 1px;
    padding-left: 22px;
    padding-bottom: 2px;
    background: $color_kashmir_blue_approx $url_11 top left no-repeat;
    background-position: 3px 3px;
    color: $color_text;
    font-size: 100%;
  }
  .foot {
    font-weight: normal;
  }
  .content p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}