#rmarchivbox_faq {
  width: 75%;
  dd {
    background: $color_kashmir_blue_approx;
    padding: 5px;
    padding-left: 30px;
    margin: 1px;
    p {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    ul {
      padding-left: 30px;
    }
  }
  .content {
    ul {
      margin-bottom: 20px;
      list-style: none;
    }
    li {
      margin-left: 5px;
      &:before {
        content: "-- >";
      }
    }
  }
  dt {
    background: $color_bismark_approx;
    font-weight: bold;
    margin: 0 1px;
    padding: 3px;
    text-transform: lowercase;
  }
}