#rmarchivbox_login {
  width: 100%;
  .content {
    text-align: center;
  }
  .notifications {
    background: $color_kashmir_blue_approx;
    font-weight: bold;
  }
  .loggedin .user {
    padding: 0;
    background: none;
    font-weight: bold;
  }
}
@media screen and(max-width: 1100px) {
  #rmarchivbox_login .loggedout a {
    width: 80px;
    height: 30px;
    text-indent: 80px;
    line-height: 30px;
  }
}