.markdown ul li{
  list-style-type: disc;
}

.markdown p{
  margin: 10px;
}

.markdown blockquote{
  margin-left: 16px;
  background-color: #4e6f90;
}

.markdown blockquote:before {
  content: "Zitat";
}

.markdown h1{
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.markdown h2{
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  background-color: transparent;
}

.markdown h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}